<!DOCTYPE html>
<html>
  <head>
    <title>React Boilerplate</title>

    <link rel="stylesheet" href="dists/bundle.css">
  </head>
  <body>
    <div id="root" style="height: 600px;"></div>

    <script src="./dists/bundle.js"></script>
  </body>
</html>
